<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="GetStockTransactionByInSql" value="select 
				ts.ModifyTime,
			  	ce.CE1_Name,
			   ce.CE1_CODE ,
			  pd.PD1_CODE ,
			  pd.PD1_Name ,
			  vd.VD1_CODE,
			  cu.CU1_Name,
			pd.PD1_Package,
			-ts.TS1_TransQty as TS1_TransQty,
			ts.TS1_Price,
			ppp.PR1_NoTaxPrice,
			(-ts.TS1_TransQty * ts.TS1_Price) as TotalPrice,
			(-ts.TS1_TransQty * ppp.PR1_NoTaxPrice) as TotalNoTaxPrice,
			pd.PD1_ManufactureModel, 
			cp.CP1_CustomerMat, 
			dp.DP1_Name,
			cp.CP1_CustomerPro,
			pd.PD1_Unit,
			ce.CE1_Remark
		from F01_CERT.CV1_CusVendingPower cv
		    left join B01_MDM.CU1_Customer cu on cu.ID = cv.CV1_CU1_ID
			left join B01_MDM.VD1_Vending vd on vd.ID=cv.CV1_VD1_ID
			left join B03_TRANS.TS1_StockTransaction ts on ts.TS1_VD1_ID=cv.CV1_VD1_ID
			left join B01_MDM.CE1_CustomerEmpLink ce on ce.ID = ts.CreateUser 
			left join B01_MDM.DP1_Department dp on ce.CE1_DP1_ID = dp.ID
			left join B01_MDM.ST1_Station st on st.ID=vd.VD1_ST1_ID
			left join B01_MDM.WH1_Warehouse wh on wh.ID=st.ST1_WH1_ID
			left join B01_MDM.WP1_Warehousepositions wp on wp.WP1_WH1_ID=wh.ID
														and wp.WP1_Type='1'
														and wp.WP1_Status is null
			left join B01_MDM.PD1_Product pd on pd.ID=ts.TS1_PD1_ID
			LEFT JOIN B01_MDM.PR1_ProductPrice AS ppp ON ppp.PR1_PD1_CODE=pd.PD1_CODE and ppp.PR1_CU1_CODE=cu.CU1_CODE
			left join B01_MDM.CP1_CustomerProLink cp on cp.CP1_PD1_ID = ts.TS1_PD1_ID and cp.CP1_CU1_ID = cu.ID
		where ts.TS1_BillType = '领料'
	  and (ts.CreateTime between '{2}' and '{3}')
	  and ts.TS1_VD1_ID in ('{1}')
	  and cu.ID in ('{0}')	  
order by ts.CreateTime desc, ce.CE1_CODE, pd.PD1_CODE, vd.VD1_CODE;"/>
    <add key="GetStockTransactionByEqualSql" value="select 
				ts.ModifyTime,
			  	ce.CE1_Name,
			   ce.CE1_CODE ,
			  pd.PD1_CODE ,
			  pd.PD1_Name ,
			  vd.VD1_CODE,
			  cu.CU1_Name,
			pd.PD1_Package,
			-ts.TS1_TransQty as TS1_TransQty,
			ts.TS1_Price,
			ppp.PR1_NoTaxPrice,
			(-ts.TS1_TransQty * ts.TS1_Price) as TotalPrice,
			(-ts.TS1_TransQty * ppp.PR1_NoTaxPrice) as TotalNoTaxPrice,
			pd.PD1_ManufactureModel, 
			cp.CP1_CustomerMat, 
			dp.DP1_Name,
			cp.CP1_CustomerPro,
			pd.PD1_Unit,
			ce.CE1_Remark
		from F01_CERT.CV1_CusVendingPower cv
		    left join B01_MDM.CU1_Customer cu on cu.ID = cv.CV1_CU1_ID
			left join B01_MDM.VD1_Vending vd on vd.ID=cv.CV1_VD1_ID
			left join B03_TRANS.TS1_StockTransaction ts on ts.TS1_VD1_ID=cv.CV1_VD1_ID
			left join B01_MDM.CE1_CustomerEmpLink ce on ce.ID = ts.CreateUser 
			left join B01_MDM.DP1_Department dp on ce.CE1_DP1_ID = dp.ID
			left join B01_MDM.ST1_Station st on st.ID=vd.VD1_ST1_ID
			left join B01_MDM.WH1_Warehouse wh on wh.ID=st.ST1_WH1_ID
			left join B01_MDM.WP1_Warehousepositions wp on wp.WP1_WH1_ID=wh.ID
														and wp.WP1_Type='1'
														and wp.WP1_Status is null
			left join B01_MDM.PD1_Product pd on pd.ID=ts.TS1_PD1_ID
			LEFT JOIN B01_MDM.PR1_ProductPrice AS ppp ON ppp.PR1_PD1_CODE=pd.PD1_CODE and ppp.PR1_CU1_CODE=cu.CU1_CODE
			left join B01_MDM.CP1_CustomerProLink cp on cp.CP1_PD1_ID = ts.TS1_PD1_ID and cp.CP1_CU1_ID = cu.ID
		where ts.TS1_BillType = '领料'
	  and (ts.CreateTime between '{2}' and '{3}')
	  and ts.TS1_VD1_ID in ('{1}')
	  and cu.ID = '{0}'	  
order by ts.CreateTime desc, ce.CE1_CODE, pd.PD1_CODE, vd.VD1_CODE;"/>
  </appSettings>
  <connectionStrings>
    <add name="zkh_evmConnectionString" connectionString="Data Source=rdsiqkj28egd0epz1635o.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=zkh_evm;User ID=evm;Password=Evm8399!" providerName="System.Data.SqlClient"/>
    <add name="zkh_amConnectionString" connectionString="Data Source=rdsiqkj28egd0epz1635o.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=zkh_am;User ID=evm;Password=Evm8399!" providerName="System.Data.SqlClient"/>

    <!--<add name="zkh_evmConnectionString" connectionString="Data Source=192.168.0.111;Initial Catalog=zkh_evm;User ID=sa;Password=zKhevm360" providerName="System.Data.SqlClient"/>
    <add name="zkh_amConnectionString" connectionString="Data Source=192.168.0.111;Initial Catalog=zkh_am;User ID=sa;Password=zKhevm360" providerName="System.Data.SqlClient"/>-->
    <!--Use this connectionString when published on 120.26.105.241-->
    <!--
      <add name="zkh_evmConnectionString" connectionString="Data Source=rdsiqkj28egd0epz1635.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=zkh_evm;User ID=evm;Password=Evm8399!"
            providerName="System.Data.SqlClient" />
            -->
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>